
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}
main{
   width: 1440px;
   margin: 0% auto;
}
main >section{
   margin-top: 130px;
}
.display-flex{
     display: flex;
}
.text-primary{
   color:rgba(255, 144, 14, 1)
}
/* dark 01 */
.dark_one{
   color: rgb(19, 19, 19);
}
/* dark 02 */
.dark_two{
   color: rgb(66, 66, 66);
}
.btn-primary{
   border-radius: 8px;
   background: rgb(255, 144, 14);
   font-weight: 600;
   padding: 21px 25px;
   color: white;
   font-size: 1rem;
   border: none;

}
.hander-section{
    background: rgba(255, 144, 14, 0.1);
}
 /* nav style */

 .navbar{
    justify-content: space-between;
    align-items: center;

 }
 .navbar ,.banner-section{
    width: 1440px;
    margin: 0% auto;
   
 }
 .nav-links{
    font-weight: 500px;
    font-size: 18px;
 }
 .nav-link{
    text-decoration: none;
    text-emphasis: none;
    font-weight: 500;
    font-size: 18px;
 }
.nav-items{
    list-style: none;
    margin-right: 30px;
   
}
.brand{
   font-size: 3rem;
   font-weight: 700;
}
/* banner section hader part */
.bannar-text-continer{
   max-width: 850px;
   margin: 0 auto;
   text-align: center;
  margin-bottom: 50px;
}
.text-tittle{
     
        font-weight: 700;
        font-size: 4rem
}
.banner-description{
   font-weight: 400;
   font-size: 1rem;
}
.bannar-img{
   width: 100%;
  
  
}
/* main part */
.teams{
   align-items: center;
}
.team-img-continar{
display: grid;
grid-template-columns:repeat(2 ,1fr);
   gap: 30px;
   
}
.our-features{
   margin-left: 130px;
   max-width: 530px;
   text-align: center;
}

.section-title{
   font-size: 2.8rem;
   font-weight: 700;
}
#quick-list{
   font-weight: 500;
}


/* fact card css */
.facts_container{
   display: grid;
   grid-template-columns: repeat(4,1fr);

}
.fact-card{
   border: 2px solid sandybrown;
   width: 240px;
   height: 240px;
   border-radius: 8px;
   text-align: center;
   align-items: center;
   justify-content: center;
}
.fact-number{
   font-size: 2.8rem;
   margin-top: 5px;
   margin-bottom: 10px;
}
.fact-name{
   font-size: 1.25rem;
   font-weight: 600;
   margin-top: 10px;
}

.fact-description{
   max-width: 540px;
}

.sponsor-info{
   max-width: 540px;
   margin: 50px auto;
   text-align: center;
}

.sponsor-companies{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
   filter: grayscale(100%);
}

/*  */
@media screen and (max-width: 576px){
    .nav-links ,.navbar{
      flex-direction: column;
    }
}
@media screen and (max-width: 576px){
   .teams{
      flex-direction: column;
   }
   .team-img-continar{
     grid-template-columns: repeat(1,1fr);
   }
   .our-features{
      margin-left: 20px;
   }
   .fact-taxt-cantiner{
      text-align: center;
      align-items: center;
   }
   .fact-taxt-cantiner p{
      text-align: center;
   }
   .facts_container{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   justify-items: center;
   gap: 30px;
   }
   .sponsor-companies{
      
      grid-template-columns: repeat(1,1fr);
   }
   .sponsor-companies{
      justify-items: center;
      gap: 50px;
  }
}